@import '~bootstrap/dist/css/bootstrap.css';
@import '~font-awesome/css/font-awesome.css';
@import '~font-awesome/css/font-awesome.min.css';
.renu {
    width:35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgb(14, 223, 49);
    color:rgb(14, 5, 5);
    margin-left: 20px;
  
    text-align: center;

}
.card-body{
    background-color: rgb(227, 245, 245);
}
/* .card{
    background-color: rgb(227, 245, 245);
    text-align: center;
    width:35px;
    height: 35px;
    border-radius: 50%;
    color:rgb(14, 5, 5);
    margin-left: 20px;
} */